@use "tailwind";
@use "variables";
@use "hero";
html {
  /* this defines what one rem is */
  font-size: 62.5%;
}
body {
  margin: 0;
  background-color: variables.$bg;
  font-size: 5rem;
  color: var(--text);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1.5rem;
}

ul {
  list-style-image: url("../images/sword-32x32.png");
}
